#root{
    width:100%;
    height:100%;
}
.headmessage{
    width:80%;
    height:40px;
    border:solid 1px #ccc;
    margin:10px auto;
    display: flex;
    padding:0 10px;
    justify-content: space-between;
    align-items:center;
}
.headmessage>div>span:nth-child(2){
 margin-left:5px;
}
select{
    outline:none;
    border:0;
    height:30px;
    border:solid 1px #ccc;

}

.tablebox{
    width:90%;
    position: relative;
    height:auto;
    margin:10px auto;
    overflow-x: scroll;
    border:solid 1px #ccc;
}
@media screen and (max-width: 414px) {
    .tablebox table{
        width:800px;
        height:100%;
        
    }
}
@media screen and (min-width: 415px) {
    .tablebox  table{
        width:100%;
        height:100%;
        
    }
}
.tablebox  table tbody tr{
    border:solid 1px #ccc;
    height:40px;
    line-height:40px;
}
.tablebox  table tbody tr span{
    margin:0 3px;
}
.mark{
    position:absolute;
    width:80%;
    height:60%;
    left:10%;
    top:20%;
    background:white;
   display:none;
    border:solid 1px #ccc;
}
.show{
    display: block;
}
