@media screen and (min-width:375.3px) and (max-width:1536px) {
    .homePage {
        width: 100%;
    }
    .homePage .navbox {
        width: 100%;
        height: 170px;
        padding: 21px 48px;
    }
    .navbox .listClass {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        display: flex;
    }
    .listClass .classLeft {
        flex: 8;
        display: flex;
    }
    .classLeft .leftText {
        padding: 50px 40px;
        display: flex;
    }
    .leftText span {
        font-size: 14px;
        text-align: right;
        display: inline-block;
        width: 70px;
        height: 26px;
        text-align: center;
        line-height: 26px;
    }
    .classLeft .leftList {
        flex: 1;
    }
    .leftList .leftContent {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .leftContent span {
        width: 103px;
        height: 50px;
        background-color: rgb(230, 241, 252);
        border: 1px solid rgb(163, 208, 253);
        color: rgb(0, 118, 255);
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        top: 50%;
        margin-top: -25px;
    }
    .leftContent span:nth-child(1) {
        background-color: rgb(24, 144, 255);
        border: 1px solid rgb(24, 144, 255);
        color: #fff;
    }
    .leftContent span:last-child {
        background-color: #fff;
        color: #000;
        border: 1px solid #ccc;
    }
    .listClass .classRight {
        flex: 2;
        position: relative;
    }
    .classRight .grops {
        top: 20px;
        right: 20px;
        width: 160px;
        height: 34px;
        position: absolute;
    }
    .grops .gropLength {
        width: 63px;
        height: 34px;
        left: 0px;
        top: 0px;
        z-index: 5;
        font-weight: normal;
        font-style: normal;
        float: left;
    }
    .gropLength .AndroidSwitch {
        display: flex;
        align-items: center;
        position: relative;
        opacity: 1;
        width: 100%;
        height: 100%;
        font-size: 100px;
        cursor: inherit;
        float: left;
    }
    .AndroidSwitch input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .AndroidSwitch .CheckState::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 53.5%;
        padding-bottom: 53.5%;
        background-color: #efefef;
        border-radius: 50%;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
        transition: transform 0.25s ease-in-out;
        transform: translate(0, -50%);
    }
    .AndroidSwitch input:checked+.CheckState::after {
        background-color: #5677fc;
        transform: translate(85%, -50%);
    }
    .CheckState {
        background-color: rgba(86, 119, 252, 0.5);
        position: relative;
        height: 70%;
        border-radius: 18% / 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .AndroidSwitch .CheckState {
        position: relative;
        height: 70%;
        background-color: #a7a5a6;
        border-radius: 18% / 50%;
    }
    .AndroidSwitch input:checked+.CheckState {
        background-color: rgba(86, 119, 252, 0.5);
    }
    .zhuxing {
        width: 76px;
        height: 34px;
        font-size: 14px;
        text-align: left;
        line-height: 34px;
        font-weight: normal;
        font-style: normal;
        opacity: 1;
        float: left;
        margin-left: 15px;
    }
    .zhuxing .rechText {
        font-family: SourceHanSansSC;
        font-weight: 400;
        font-size: 14px;
        color: rgb(16, 16, 16);
        font-style: normal;
        letter-spacing: 0px;
        line-height: 20px;
        text-decoration: none;
    }
    .homePage .listNav {
        width: 100%;
        height: 50px;
        margin-bottom: 25px;
    }
    .listNav .listText {
        width: 100%;
        height: 100%;
        padding-left: 90px;
    }
    .listText p {
        float: left;
        line-height: 50px;
    }
    .listText p:nth-child(1) {
        margin-right: 30px;
    }
    .listText p:nth-child(2) input {
        width: 192px;
        height: 32px;
        margin-right: 20px;
        border-radius: 4px;
        text-align: center;
        border: 1px solid #ccc;
    }
    .listText p:nth-child(2) input::placeholder {
        font-size: 13px;
        color: #BBBBBB;
    }
    .listText p:nth-child(2) input:nth-child(1) {
        padding-left: 10px;
        text-align: left;
    }
    .listText p:nth-child(3) button {
        width: 76px;
        height: 32px;
        background-color: rgb(230, 241, 252);
        border-color: rgb(163, 208, 253);
        border-radius: 4px;
        font-size: 14px;
        border-width: 1px;
        border-style: solid;
        text-align: center;
        line-height: 20px;
        opacity: 1;
        color: rgb(0, 118, 255);
        margin-left: 25px;
        margin-bottom: 30px;
    }
    .jurpBox {
        width: 100%;
        height: 110px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .jurpBox .contentText {
        background: #aaa;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:375.2px) {
    .homePage {
        width: 100%;
    }
}